body{
	background-image: url(illustrator/studio.jpg);
}

.bgClass{
	background-image: url(illustrator/gameover.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

#play, #reset{
	display:inline-block;
	font-family: 'Rock Salt', cursive;
	border-radius:50%;
}

.wrapper {
    width:100%;
    height:50px;
    display: table;
}

.wrapper2 {
    width:100%;
    height:auto;
    display: table;
}

.left{
    display: table-cell;
    font-family: 'Rock Salt', cursive;
    width:240px;
    color:red;
    padding:20px;
}

.right {
    display: table-cell;
    font-family: 'Rock Salt', cursive;
    width:200px;
    color:red;
    padding:20px;
    font-size:25px;
}


.central{
	color:red;
	font-family: 'Rock Salt', cursive;
	font-size:35px;
	display: table-cell;
	text-align:center;
}

.central2{
	display: table-cell;
}

.left2, .right2 {
    display: table-cell;
    font-family: 'Rock Salt', cursive;
    width:200px;
    padding:20px;
    color:red;
}

.container-drums{
	width:57%;
	display:block;
	margin-left:auto;
	margin-right:auto;

}

.patternShake {
	animation:shake 0.05s;
  animation-iteration-count: infinite;
/*  display:inline-block;
  border:0;
  width:50px;
  height:50px;	*/
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#drumkit, #sequence{
	width:32px;
}

.alphabetClass{
	visibility:hidden;
}

.alphabetDisplay{
	visibility:visible;
}

#free{
	width:150px;
	border-radius: 50%
}